@charset "UTF-8";

@font-face {
    font-family: 'SF-Pro' ;
    src: url(font/SF-Pro.dmg)format('dmg');
    
}

:root{
    --background-color: #e7e7e7;

}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-family:"SF-Pro", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#home{
    background: linear-gradient(to right,#00064a99,#0d00ff7c,#00d9ff);
    margin: 1rem 3rem 2rem ;
    height: 85vh;
    border-radius: 2rem;
    border: 2px solid rgba(255, 255, 255, 0.678);

}
.navbar-light .navbar-nav .nav-link{
    color: rgba(0, 0, 0, 0.6);
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #00b3ff;
}
.home-h1{
    font-size: 5rem;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    margin: 5rem 0px 1rem ;
    
}
.home-h1-p{
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
    opacity: 0.8;
    height: auto;
    margin: 1rem;
    
    
}
div.water-bottle-container{
    padding: 1rem;

}
div.water-bottle img{
    margin-top: 2rem;
    margin-left: 2rem;
    width: 162px;
    display: flex;
    border: 1px solid red;
    height: auto;   
}


@media(max-width:575px){
    header{
        background: linear-gradient(to right,#00064a99,#0d00ff7c,#00d9ff);
    }
    #home{
        background: linear-gradient(to right,#00064a99,#0d00ff7c,#00d9ff);
        margin: 0;
        height: 64vh;
        border-radius: 0rem;
        border: none;
    
    }
    .home-h1{
        font-size: 1.6rem;
        width: 50%;
        margin: 2rem 7rem 1rem;
        text-align: center; 
    
    }
    .home-h1-p{
        margin: 2rem 3rem 1rem;
        width: 50%;
        height: 10px;
        text-align: center;
    }
    div.water-bottle-container{
         margin-top: 2px;
         padding: 1px;
        
    }
    div.water-bottle img{
        opacity: 0;
         
        
    }

}


@media(max-width:790px){
    header{
        background: linear-gradient(to right,#00064a99,#0d00ff7c,#00d9ff);
    }
    #home{
        background: linear-gradient(to right,#00064a99,#0d00ff7c,#00d9ff);
        margin: 0;
        height: 64vh;
        border-radius: 0rem;
        border: none;

    }
    .home-h1{
        font-size: 2.5rem;
        width: 70%;
        
        margin: 3rem 1rem;
    
    }
    .home-h1-p{
        margin: 4rem 3rem;
        width: 200px;
        height: 10px;
        text-align: center;
    }
    div.water-bottle img{
        opacity: 0;
        display: flex;
        text-align: center;
    }
    

}

@media (max-width: 992px) {
    .home-h1{
        font-size: 2.5rem;
        width: 70%;
        
        margin: 3rem 3rem;
    
    }
    .home-h1-p{
        width: 300px;
        height: 100px;
        text-align: center;
    }
    
    div.water-bottle-container img{
        display: flex;
        position: relative;       
    }
    div.water-bottle img{
        max-width: 88px;
        position: relative;
        display: flex;
        text-align: center;
    }

}